// COLOR FONDO-BODY
$fondoColorPrimario: #d8e2dc;

// COLOR FUENTE
// $colorEncabezadosH1: rgb(140, 78, 177);
$colorEncabezadosH1: rgb(131, 106, 143);
$colorEncabezados: rgb(135, 104, 151);
$listasColor: rgb(84, 46, 109);
$colorHoverListasPrim: rgb(182, 131, 178);
$colorHoverListasSec: rgb(158, 129, 156);


// ESTILO FUENTE
$fuentePrincipal: 'Montserrat', sans-serif;
$fuenteSecundaria: 'Quicksand', sans-serif;

// SUBLISTA Y BOTON INDEX
$subColor: linear-gradient(to right, #fec5bb, #fae1dd);


// COLOR FONDO TABLA
$tablaColor: #fcd5ce;